/* elenco-fatture.component.css */

/* Style for the filter input and button */
.filter-container {
  margin-bottom: 20px;
}

.filter-input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Style for table rows on hover */
tr:hover {
  background-color: #f5f5f5;
}

/* Style for the filter container */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style for the dropdown select */
.filter-select {
  padding: 8px;
  width: 150px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Style for the filter input fields */
.filter-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Style for the filter button */
.filter-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.colonna-filtri {
  display: flex;
  flex-direction: column;
}

/* Style for individual column filters */
.colonna-filtri label {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-right {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.col {
  margin-right: 10px;
}
